node_modules/
.expo/
dist/
build/
.env
.env.local
android/
ios/
!hidden-tunes-app/plugins/hidden-audio/android/
!hidden-tunes-app/plugins/hidden-audio/android/**
!hidden-tunes-app/plugins/hidden-audio/ios/
!hidden-tunes-app/plugins/hidden-audio/ios/**
